{% extends "home-base.html" %}

{% block title %}
All Actors
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-pencil" aria-hidden="true"></i> Actor Directory</h1>
   <div class="row bottom-margin">
     <a href="/actor-directory/add" class="btn btn-primary" role="button" aria-disabeled="true">Add Actor</a>
   </div>
{% if actors %}
<table class="table">
  <thead>
    <tr>
      <th>Actor ID</th>
      <th>Actor Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Movie</th>
    </tr>
  </thead>
  <tbody>
  {% for actor in actors %}
  <tr>
    <th scope="row">{{actor.id}}</th>
        <td>{{actor.actor_name}}</td>
        <td>{{actor.age}}</td>
        <td>{{actor.role}}</td>
        <td>{{actor.movie.title}}</td>
        <td>
                      <!-- Modal -->
                   <div class="modal fade" id="{{actor.id}}" tabindex="-1" role="dialog">
                   <div class="modal-dialog" role="document">
                   <div class="modal-content">
                   <div class="modal-header">
                   <h5 class="modal-title">{{actor.name}}</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                  <pre>{{actor.name}}</pre>
                </div>
                <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              </div>
              </div>
              </div>
          <a href="/actor-directory/edit/{{actor.id}}" class ="btn btn-success" role="button" aria-disabled="true"> Edit</a>
         <a href="/actor-directory/delete/{{actor.id}}" class ="btn btn-danger" role="button" aria-disabled="true"> Delete</a>
        <button class="btn btn-warning delete_ajax_btn" data-actor-id={{actor.id}}>Delete Ajax</button>
       </td>
  </tr>

  {% endfor%}
</tbody>
</table>
{% else %}
<h3>There are no actors in the database yet.</h3> {% endif %}
</div>

{% endblock%}

{% block scripts%}
{{super()}}
<script>
$(document).ready(function() {
$(".delete_ajax_btn").click(function(event) {
  var actor_id = $(this).data("actor-id");
  // get the table row of this song
  var row = $(this).parent().parent();
  swal({
      title: "Are you sure?",
      // text: "You are going to delete actor" + actor.id + ".",
      type: "warning",
      html: true,
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false,
      showLoaderOnConfirm: true
    },

    function(isConfirm) {
      if (isConfirm) {
        $.ajax({
            type: "DELETE",
            url: "/api/actor/" + actor_id,
            success: function(response) {
              console.log(response);
              row.remove(); // remove the table row
              swal({
                title: "Deleted!",
                text: response.name + " has been deleted.",
                type: "success",
                timer: 2500,
                showConfirmButton: false
              }); // end of SweetAlert
            } // end of success callback function
          }) // end of ajax call
          .fail(function(error) {
            // console.log(data);
            swal({
              title: "Oops...",
              text: "Deletion failed",
              type: "error",
              timer: 2000,
              showConfirmButton: false
            }); // end of SweetAlert
          }); // end of fail callback function
      } // end of if confirmed block
    }); // end of confirmed function of SweetAlert
}); // end of button click event function
}); // end doc ready
</script>
{% endblock%}
