{% extends "home-base.html" %}

{% block title %} Homepage {% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 75px;
    }
    #intro {
      padding-top: 15px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
  <h1 class="mt-5"><i class="fa fa-ticket" aria-hidden="true"></i>Team Project Homepage</h1>
  <p>Address: University of Delaware, Newark DE, 19711</p>
</div>
<div class="text-center">
  <img src="static/images/theatre.png" class="rounded" alt="Responsive image">
</div>

  <!-- Footer -->
<footer>
<p>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <a href="https://twitter.com/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://facebook.com">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
      <p class="copyright text-muted">Copyright &copy; Mike Caffrey, Sam Rosen, and Christine Ni 2017</p>
    </div>
  </div>
</div>
</p>
</footer>

{% endblock%}
