{% extends "home-base.html"%}
{% block title %}Team Project Members{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 75px;
    }
  </style>
{% endblock %}

{% block page_content%}
<h1> Team Members: </h1>
  <ul>
    <li>Mike Caffrey</li>
    <h2><ul> Mike is a senior MIS major at University of Delaware. </ul> </h2>

    <li>Sam Rosen</li>
        <h2><ul> Sam is a junior MIS and Operation Managment double major at University of Delaware. </ul> </h2>

    <li>Christine Ni</li>
      <h2><ul> Christine is a senior MIS major with a concentration in Marketing at University of Delaware. </ul> </h2>

  </ul>

{% endblock%}
