.img-centered {
  margin: 0 auto; }
  header.mhead {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background: #18BC9C; }
    header.mhead img {
      border-radius:50%;
      display: block;
      margin: 0 auto 20px; }
    header.mhead .intro-text .name {
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2em;
      font-weight: 700;
      display: block;
      text-transform: uppercase; }
    header.mhead .intro-text .skills {
      font-size: 1.25em;
      font-weight: 300; }
