{% extends "home-base.html"%}
{% block title %}Team Project Members{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 75px;
    }
  </style>
{% endblock %}

{% block page_content%}
<h1> Team Members: </h1>
  <ul>
    <li>Mike Caffrey</li>
     <img class="img-fluid" src="Users/Christine/group-assignment-01/static/images/mike.png" alt="">
    <li>Sam Rosen</li>
    <img class="img-fluid" src="Users/Christine/group-assignment-01/static/images/sam.png" alt="">
    <li>Christine Ni</li>
    <img class="img-fluid" src="Users/Christine/group-assignment-01/static/images/christine.png" alt="">
  </ul>

{% endblock%}
