{% extends "home-base.html" %}

{% block title %}
Add Movie
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-id-badge" aria-hidden="true"></i> Add Movie:</h1>
   <form action="/movie/add" method="post">
     <div class="form-group">
     <label>Title</label>
     <input class="form-control" type="text" name="title" placeholder="Movie Title" required="true">
  </div>
  <div class="form-group">
    <label>Year</label>
          <select class="form-control" name="year">
            {% for i in range(1900, 2021) %}
              {% if i == 2017 %}
                <option selected="selected">{{i}}</option>
              {% else %}
                <option>{{i}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
    <div class="form-group">
      <label>Genre</label>
      <input class="form-control" type="text" name="genre" placeholder="Genre" required="true">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" type="text" name="description" placeholder="Description of the movie" required="true"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Movie</button>
   </form>
 </div>
{% endblock %}
