{% extends "home-base.html" %}

{% block title %}
Delete Movie
{% endblock %}

{% block head%}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-window-close" aria-hidden="true"></i> Delete Movie:</h1>
  <form action="/movie/delete/{{movie.id}}" method="post">
    <label>Title</label>
    <input class="form-control" type="text" name="name" placeholder="{{movie.title}}" required="true" readonly="true">
    <div class="form-group">
    <label>Year</label>
    <input class="form-control" type="text" name="name" placeholder="{{movie.year}}" required="true" readonly="true">
       </div>
       <div class="form-group">
            <label>Genre</label>
            <input class="form-control" type="text" name="name" placeholder="{{movie.genre}}" required="true" readonly="true">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="role" value="{{movie.description}}" placeholder="{{movie.description}}" required="true" readonly="true"></textarea>
          </div>
          <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
          </form>
         </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('Are you sure that you want to delete this actor?')) {
        return false;
      }
    })
  });
  </script>
{% endblock %}
