{% extends "home-base.html"%}
{% block title %}Movies{% endblock %}
{% block head%}
  {{ super() }}
  <style media="screen">
    body {
      padding-top: 54px;
    }
  </style>
  <style>
  h1{
    color:dark;
  }
  li{
    color:dark;
    text-align: center;
  }
  .padding{
    padding-top: 40px
  }
  .modal-title{
    color: blue;
  }
  }
  </style>
{% endblock%}
{% block page_content%}

<div class="container">
  <h1 class="mt-5 text-center"> <i class="fa fa-book" aria-hidden="true"></i> Movies</h1>
    {% for movie in movies%}
    <ul class ="list-unstyled ">
      <li class="padding"><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#{{title}}">{{title}}</button>
       <div class="modal fade" id="{{title}}" tabindex="-1" role="dialog" aria-labelledby="{{title}}ModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="{{title}}label">Movie Description</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              <h3 class="text-center">{{title}}</h3>
              {% if title == 'The Lion King'%}
              <p> Plot: tells the story of Simba, a young lion who is to succeed his father, Mufasa, as King of the Pride Lands; however, after Simba's uncle Scar (Mufasa's jealous younger brother), murders Mufasa, Simba is manipulated into thinking he was responsible and flees into exile. Upon maturation living with two wastrels, Simba is given some valuable perspective from his childhood friend, Nala, and his shaman, Rafiki, before returning to challenge Scar to end his tyranny and take his place in the Circle of Life as the rightful King.</p>
              {% elif title == 'Mulan'%}
              <p>Plot: Fearful that her ailing father will be drafted into the Chinese military, Mulan (Ming-Na Wen) takes his spot -- though, as a girl living under a patriarchal regime, she is technically unqualified to serve.</p>
              {% elif title == 'Moana'%}
              <p>An adventurous teenager sails out on a daring mission to save her people.</p>
              {% elif title == 'Frozen'%}
              <p>When their kingdom becomes trapped in perpetual winter, fearless Anna (Kristen Bell) joins forces with mountaineer Kristoff (Jonathan Groff) and his reindeer sidekick to find Anna's sister, Snow Queen Elsa (Idina Menzel), and break her icy spell.</p>
              {% else %}
              <p>With a wicked stepmother (Eleanor Audley) and two jealous stepsisters (Rhoda Williams, Lucille Bliss) who keep her enslaved and in rags, Cinderella (Ilene Woods) stands no chance of attending the royal ball. </p>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  {% endfor %} {% endblock%}
